*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* --------- Navbar --------- */

nav{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 48px 20px 10px ;
    background-color: #109BFF;
}

.navbar{
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.acc-icon-container{
    display: flex;
    justify-content: center;
}

.account-icon{
    width: 60px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style-type: none;
}

.dashboard-icon,
.addData-icon,
.feedback-icon{
    width: 46px;
    transition: transform 0.3s ease;
}

.dashboard-icon:hover,
.addData-icon:hover,
.feedback-icon:hover{
    transform: scale(1.3);
}

.logOut-menu{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 100px;
    font-weight: 400;
    font-size: 14px;
    color: white;
}

.logOut-icon{
    width: 23px;
}

/* --------- Header and Filter button --------- */

header{
    margin-left: 135px;
    padding: 32px 40px;
    display:flex;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    padding-right: 60%;
    color: #4B93FF;
}

.logo span{
    color: #FFE713;
}

.filter-button{
    display: flex;
    align-items: center;
}

.borough-filter{
    position: relative;
    display: inline-block;
}

.dropbtn-borough{
    padding: 8px 25px;
    font-weight: 500;
    font-size: 12px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px 0px 0px 10px;
}

.borough-dropdwn-content{
    display: none;
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    background-color: #f1f1f1;
    width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.month-dropdwn-content{
    display: none;
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    background-color: #f1f1f1;
    width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.borough-dropdwn-content a,
.month-dropdwn-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.borough-dropdwn-content a:hover,
.month-dropdwn-content a:hover {
    background-color: #ddd;
}

.borough-filter:hover .borough-dropdwn-content,
.month-filter:hover .month-dropdwn-content{
    display: block;
}

.borough-filter:hover .dropbtn-borough,
.month-filter:hover .dropbtn-month {
    background-color: #9cc3ff;
}

.line div{
    padding: 17px 1px;
    background-color: #969696;
}

.month-filter{
    position: relative;
    display: inline-block;
}

.dropbtn-month{
    padding: 8px 25px;
    font-weight: 500;
    font-size: 12px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 0px 10px 10px 0px;
}

/* --------------------- Main Content ------------------------ */

main {
    margin-left: 180px;
    padding-right: 45px;
    padding-bottom: 35px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 13px;
    column-gap: 20px;
}

.titles {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #109BFF;
    padding-bottom: 3px;
}

.tabel {
    grid-column: span 2;
    grid-row: span 2;
}

.linetotal {
    grid-column: span 4;
}

.totalavg {
    grid-column: span 2;
}

.totalprop {
    grid-column: span 2;
}

/* ----------  Chart Detail ---------- */

.scorecode1 {
    padding-right: 5px;
    margin: auto;
} 

.scorecode2 {
    padding-left: 5px;
    margin: auto;
}

.scoretotal, .scoreprop {
    padding: 10px;
    width: 200px;
    height: 40px;
    background-color: #cdcdcd;
}

.tabelrec {
    padding: 10px;
    height: 200px;
    background-color: #cdcdcd;
}

.piechart1, .piechart2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pieavg, .pietotal {
    padding: 10px;
    width: 110px;
    height: 110px;
    background-color: #cdcdcd;
    border-radius: 50%;
}

.linechartotal {
    padding: 10px;
    height: 100px;
    background-color: #cdcdcd;
}

.totalavgchart {
    padding: 10px;
    height: 120px;
    background-color: #cdcdcd;
}

.linechartprop {
    padding: 10px;
    height: 120px;
    background-color: #cdcdcd;
}

/* ----- Form Search ----- */
form {
    padding-left: 10px;
    padding-right: 10px;
}

.form-input {
    width: 100%;
}

form input[type="text"] {
    width: 100%;
    font-size: 10px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

/* -------------- Footer --------------- */
.footertitle {
    text-align: center;
    font-size: 12px;
    color: black;
}