*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* --------- Navbar --------- */

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 48px 20px 10px ;
    background-color: #109BFF;
}

.navbar{
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.acc-icon-container{
    display: flex;
    justify-content: center;
}

.account-icon{
    width: 60px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style-type: none;
}

.dashboard-icon,
.addData-icon,
.feedback-icon{
    width: 46px;
    transition: transform 0.3s ease;
}

.dashboard-icon:hover,
.addData-icon:hover,
.feedback-icon:hover{
    transform: scale(1.3);
}

.logOut-menu{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 100px;
    font-weight: 400;
    font-size: 14px;
    color: white;
}

.logOut-icon{
    width: 23px;
}

/* ----- Main Content ----- */

main{
    display: block;
    margin-left: 135px;
    padding: 50px 220px;
}

.feedback-form{
    padding: 60px 20px 60px 20px;
    background-color: #E3E2F0;
    border-radius: 45px;
}

.feedback-form-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-bottom: 18px;
    font-family: "Poppins", sans-serif;
}

.feedback-logo{
    width: 88px;
    height: 70px;
}

.title{
    font-weight: 700;
    font-size: 20px;
    color: #282828;
}

.feedback-form .logo{
    padding: 53px 80px 1px 80px;
    background-color: #E3E2F0;
    border-radius: 45px;
    width: 21%;
    height: 21%;
    margin: auto;
}

.feedback-form.active{
    top:50%;
    opacity:1;
    transform: translate(-50%, -50%) sclae(1);
    transition:top 0ms ease-in-out 200ms,
            opacity 200ms ease-in-out 0ms,
            transform 20ms ease-in-out 0ms;
}

.form {
    color: #222;
    font-size: 25px;
}

.form-element{
    margin:25px 10%;
    font-size: 16px;
    color: #222;
}

input[type="text"],
input[type="subject"]
input[type="konten"]{
    box-shadow: 2px 2px 2px  rgba(199, 199, 199, 0.8);
    margin-top: 10px;
    display:block;
    width:100%;
    padding: 15px;
    outline: none;
    border:1px solid #ffffff;
    border-radius: 20px;
}

.feedback-form textarea{
    box-shadow: 2px 2px 2px  rgba(199, 199, 199, 0.8);
    font-family:'inter';
    margin-top: 5px;
    display:block;
    width:100%;
    outline: none;
    border-radius: 15px;
    resize: none;
}

textarea:is(:focus, :valid){
    border-width: 2px;
    padding: 14px 14px 60px;
    border-color: #ffffff;
}

textarea::-webkit-scrollbar{
    width: 0px;
}

.feedback-button{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.feedback-button button {
    width: 80%;
    height: 40px;
    border:none;
    outline:none;
    font-size: 16px;
    background: #4D70EB;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}
